@layer vintage {
  /**
   * Common
   */
  :root,
  ::backdrop {
    --sl-vintage-hue-base: 294;

    --sl-hue-blue: 300;
    --sl-hue-green: 160;
    --sl-hue-orange: 81;
    --sl-hue-purple: 195;
    --sl-hue-red: 23;

    --sl-text-h1: 2.5rem; /* 40px */
    --sl-text-h2: 1.875rem; /* 30px */
    --sl-text-h3: var(--sl-text-2xl);
    --sl-text-h4: var(--sl-text-xl);
    --sl-text-h5: var(--sl-text-base);

    --sl-line-height-headings: 1.3;

    --sl-nav-height: 6rem;
  }

  @media (min-width: 50em) {
    :root {
      --sl-text-h1: 3rem; /* 48px */
      --sl-text-h2: 1.875rem; /* 30px */
      --sl-text-h3: var(--sl-text-2xl);
      --sl-text-h4: var(--sl-text-xl);
      --sl-text-h5: var(--sl-text-base);
    }
  }

  /**
   * Dark mode
   */
  :root,
  ::backdrop {
    --sl-color-white: oklch(0.9156 0.0097 var(--sl-vintage-hue-base));
    --sl-color-gray-1: oklch(0.8724 0.0148 var(--sl-vintage-hue-base));
    --sl-color-gray-2: oklch(0.8292 0.0199 var(--sl-vintage-hue-base));
    --sl-color-gray-3: oklch(0.7407 0.0307 var(--sl-vintage-hue-base));
    --sl-color-gray-4: oklch(0.8494 0.0178 var(--sl-vintage-hue-base) / 0.6);
    --sl-color-gray-5: oklch(0.958 0.0048 var(--sl-vintage-hue-base) / 0.4);
    --sl-color-gray-6: oklch(0.2784 0.048 var(--sl-vintage-hue-base));
    --sl-color-black: oklch(0.203 0.0322 var(--sl-vintage-hue-base));

    --sl-color-blue: oklch(0.5351 0.2523 var(--sl-hue-blue));
    --sl-color-blue-low: oklch(from var(--sl-color-blue) l c h / 0.4);
    --sl-color-blue-high: oklch(0.8356 0.0884 var(--sl-hue-blue));

    --sl-color-green: oklch(0.5626 0.1251 var(--sl-hue-green));
    --sl-color-green-low: oklch(from var(--sl-color-green) l c h / 0.4);
    --sl-color-green-high: oklch(0.8421 0.0822 var(--sl-hue-green));

    --sl-color-orange: oklch(0.8373 0.1618 var(--sl-hue-orange));
    --sl-color-orange-low: oklch(from var(--sl-color-orange) l c h / 0.4);
    --sl-color-orange-high: oklch(0.9345 0.0721 var(--sl-hue-orange));

    --sl-color-purple: oklch(0.7348 0.122824 var(--sl-hue-purple));
    --sl-color-purple-low: oklch(from var(--sl-color-purple) l c h / 0.4);
    --sl-color-purple-high: oklch(0.9361 0.0613 var(--sl-hue-purple));

    --sl-color-red: oklch(0.6352 0.2504 var(--sl-hue-red));
    --sl-color-red-low: oklch(from var(--sl-color-red) l c h / 0.4);
    --sl-color-red-high: oklch(0.8905 0.0902 var(--sl-hue-red));

    --sl-color-accent: oklch(0.7306 0.1783 47);
    --sl-color-accent-high: var(--sl-color-accent);
    --sl-color-accent-low: oklch(from var(--sl-color-accent-high) l c h / 0.05);

    --sl-color-bg: var(--sl-vintage-page-bg-color-bottom);
    --sl-color-bg-nav: var(--sl-color-gray-6);
    --sl-color-bg-sidebar: initial;
    --sl-color-bg-inline-code: oklch(1 0 0 / 0.086);

    --sl-color-hairline-light: oklch(0.958 0.0048 var(--sl-vintage-hue-base) / 0.1);

    --sl-menu-button-size: 2.25rem;

    --sl-vintage-ec-editor-active-tab-bg-color: oklch(0.5765 0.1254 var(--sl-vintage-hue-base));
    --sl-vintage-ec-editor-tab-bar-bg-color: oklch(from var(--sl-vintage-ui-accent-bg-color) l c h / 0.2);
    --sl-vintage-ec-marker-bg-color: oklch(0.5351 0.2523 var(--sl-vintage-hue-base) / 0.2);
    --sl-vintage-ec-marker-border-color: var(--sl-vintage-ui-accent-bg-color);

    --sl-vintage-page-bg-color-top: var(--sl-color-gray-6);
    --sl-vintage-page-bg-color-bottom: var(--sl-color-black);
    --sl-vintage-page-bg-color: linear-gradient(
      180deg,
      var(--sl-vintage-page-bg-color-top),
      var(--sl-vintage-page-bg-color-top) calc(var(--sl-nav-height) + var(--sl-mobile-toc-height)),
      var(--sl-vintage-page-bg-color-bottom)
    );

    --sl-vintage-ui-accent-bg-color: oklch(0.5351 0.2523 var(--sl-vintage-hue-base) / 0.4);
    --sl-vintage-ui-accent-dimmed-bg-color: oklch(from var(--sl-vintage-ui-accent-bg-color) l c h / 0.2);
    --sl-vintage-ui-accent-color: oklch(1 0 0);
    --sl-vintage-ui-bg-color: oklch(0.2029 0.0357 var(--sl-vintage-hue-base));
    --sl-vintage-ui-border-color: oklch(0.3422 0.0532 var(--sl-vintage-hue-base));
    --sl-vintage-ui-border-width: 1.5px;
  }

  /**
   * Light mode
   */
  :root[data-theme='light'],
  [data-theme='light'] ::backdrop {
    /* --sl-color-white: oklch(30% 0.015 var(--sl-hue-base));
    --sl-color-gray-1: oklch(36% 0.018 var(--sl-hue-base));
    --sl-color-gray-2: oklch(36% 0.018 var(--sl-hue-base));
    --sl-color-gray-3: oklch(44% 0.013 var(--sl-hue-base));
    --sl-color-gray-4: oklch(66% 0.013 var(--sl-hue-base));
    --sl-color-gray-5: oklch(88% 0.009 var(--sl-hue-base));
    --sl-color-gray-6: oklch(90% 0.004 var(--sl-hue-base));
    --sl-color-gray-7: oklch(96% 0.003 var(--sl-hue-base));
    --sl-color-black: oklch(98% 0.002 var(--sl-hue-base));

    --sl-color-orange-low: oklch(96% 0.02 var(--sl-hue-orange));
    --sl-color-orange: oklch(74% 0.15 var(--sl-hue-orange));
    --sl-color-orange-high: oklch(44% 0.09 var(--sl-hue-orange));
    --sl-color-orange-accent: oklch(42% 0.08 var(--sl-hue-orange));
    --sl-color-orange-accent-invert: oklch(52% 0.15 var(--sl-hue-orange));
    --sl-color-orange-alt: oklch(95% 0.03 var(--sl-hue-orange));
    --sl-color-orange-alt-invert: oklch(78% 0.06 var(--sl-hue-orange));

    --sl-color-green-low: oklch(96% 0.01 var(--sl-hue-green));
    --sl-color-green: oklch(66% 0.14 var(--sl-hue-green));
    --sl-color-green-high: oklch(43% 0.09 var(--sl-hue-green));
    --sl-color-green-accent: oklch(36% 0.07 var(--sl-hue-green));
    --sl-color-green-accent-invert: oklch(50% 0.1 var(--sl-hue-green));

    --sl-color-blue-low: oklch(95% 0.02 var(--sl-hue-blue));
    --sl-color-blue: oklch(66% 0.15 var(--sl-hue-blue));
    --sl-color-blue-high: oklch(40% 0.102 var(--sl-hue-blue));
    --sl-color-blue-accent: oklch(35% 0.1 var(--sl-hue-blue));
    --sl-color-blue-accent-invert: oklch(52% 0.2 var(--sl-hue-blue));
    --sl-color-blue-alt: oklch(93% 0.03 var(--sl-hue-blue));
    --sl-color-blue-alt-invert: oklch(77% 0.05 var(--sl-hue-blue));

    --sl-color-purple-low: oklch(95% 0.02 var(--sl-hue-purple));
    --sl-color-purple: oklch(66% 0.15 var(--sl-hue-purple));
    --sl-color-purple-high: oklch(40% 0.102 var(--sl-hue-purple));
    --sl-color-purple-accent: oklch(35% 0.1 var(--sl-hue-purple));
    --sl-color-purple-accent-invert: oklch(52% 0.2 var(--sl-hue-purple));
    --sl-color-purple-alt: oklch(93% 0.03 var(--sl-hue-purple));
    --sl-color-purple-alt-invert: oklch(77% 0.05 var(--sl-hue-purple));

    --sl-color-red-low: oklch(95% 0.01 var(--sl-hue-red));
    --sl-color-red: oklch(66% 0.15 var(--sl-hue-red));
    --sl-color-red-high: oklch(42% 0.13 var(--sl-hue-red));
    --sl-color-red-accent: oklch(38% 0.15 var(--sl-hue-red));
    --sl-color-red-accent-invert: oklch(52% 0.2 var(--sl-hue-red));
    --sl-color-red-alt: oklch(94% 0.02 var(--sl-hue-red));
    --sl-color-red-alt-invert: oklch(78% 0.04 var(--sl-hue-red));

    --sl-hue-accent: 160;
    --sl-color-accent-low: oklch(96% 0.015 var(--sl-hue-accent));
    --sl-color-accent: oklch(53% 0.1197 var(--sl-hue-accent));
    --sl-color-accent-high: oklch(46% 0.104 var(--sl-hue-accent));

    --sl-color-backdrop-overlay: oklch(84% 0.003 var(--sl-hue-base) / 0.7);

    --sl-rapide-ui-bg-color: oklch(100% 0 0);
    --sl-rapide-ui-header-bg-color: oklch(98% 0.002 var(--sl-hue-base) / 0.7);
    --sl-rapide-ui-border-color: oklch(88% 0.004 var(--sl-hue-base));

    --sl-rapide-ec-marker-bg-color: oklch(93% 0.002 var(--sl-hue-base));
    --sl-rapide-ec-marker-border-color: oklch(62% 0.002 var(--sl-hue-base)); */
  }
}
